.icon3 {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: none;
}
.input-value4,
.label5 {
  font-weight: 900;
  display: none;
}
.input-value4 {
  position: absolute;
  top: 12.5px;
  left: 15px;
  letter-spacing: 0.1em;
}
.label5 {
  top: 54px;
  letter-spacing: 0.04em;
  color: var(--primary-blue);
}
.base-icon1,
.label5,
.label6 {
  position: absolute;
  left: 0;
}
.base-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.label6 {
  top: -20px;
  letter-spacing: 0.04em;
  font-weight: 900;
  color: var(--color-black);
}
.input3 {
  position: relative;
  width: 295px;
  height: 61px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-nunito-sans);
}
